* {
  font-family: -apple-system, Monaco, BlinkMacSystemFont, sans-serif;
}

.ingredients-steps,
.desc {
  text-align: justify;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

img {
  height: auto;
  width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-size: 100px;
}

h2 {
  text-align: center;
  font-size: 70px;
}
