* {
  font-family: "Inter Tight", sans-serif;
  color: white;
  letter-spacing: 0.66px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
  background: -webkit-linear-gradient(360deg, #030303 10%, #1f1f1f 360%);
  background: linear-gradient(360deg, #030303 10%, #1f1f1f 360%);
}

.navbar a {
  padding-left: 5px;
  padding-right: 5px;
  align-self: flex-end;
  font-size: clamp(1rem, 1rem + 2vw, 1.5rem);
}
.navbar a:hover {
  color: white;
}

.navbar {
  align-self: flex-end;
}

a {
  background-image: linear-gradient(to right, #ff00cc, #3333ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-decoration: none;
}

.supertitle {
  font-size: clamp(2rem, 2rem + 20vw, 30rem);
  background-image: linear-gradient(to right, #ff00cc, #3333ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-decoration: none;
  margin: 0;
}

.subtitles {
  background-image: linear-gradient(to right, #ff00cc, #3333ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-decoration: none;
  font-size: 40px;
}

h1,
h2 {
  font-weight: 500;
  text-align: center;
}

.content {
  font-weight: 200;
  max-width: 1000px;
  line-height: 2;
}

.element1 {
  text-align: left;
}

.element1::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #ff00cc, #3333ff);
  margin-bottom: 10px;
}
